.header {
    background-color: rgba(115, 135, 156, 0.3);
    width: fit-content;
    font-size: 50px;
    font-weight: 700px;
    color: black;
    padding: 5px 10px;
    border-radius: 0px 15px;
}

.container {
    margin: 30px 0px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-date {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.70);
    margin-top: 2px;
    width: 250px;

    &:hover {
        cursor: pointer;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}

.button-search {
    width: 120px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;

    &:hover {
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
}

.table {
    background-color: #000;
    margin: 50px 50px;
}


.button-show-data {
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
}

.table-detail {
    background-color: #000;
    margin: 50px 170px;
}

.header-dialog-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    margin-left: 30px;
    border-bottom: #000 1px solid;
}

.button-close-dialog {
    background-color: transparent;
    border: none;
    margin: 5px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &:focus {
        outline: none;
    }
}

.note-time {
    display: flex;
    width: 16%;
    margin-left: 30px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}



.processing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 18px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 190px;
}